.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;


        p {
            font-weight: 200;
            font-size: 20px;
            color: grey;
            text-align: right;
        }

        hr {
            width: 350px;
            border: none;
            border-top: 0.5px solid grey;
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            display: flex;
            gap: 50px;
            align-items: center;

            img {
                width: 250px;
                height: 90px;
                border-radius: 50px;
                object-fit: cover;
            }

            h1 {
                font-size: 80px;
                font-weight: 100;
            }

            button {
                width: 250px;
                height: 90px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .listContainer {
        flex: 2;
        display: flex;
        max-width: 1266px;
        margin: auto;



        .box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px;
            height: 400px;
            border: 0.5px solid grey;
h2{
    margin-bottom: 30px;
}

            button {
                padding: 10px;
                background-color: orange;
                border: none;
                margin-top: 30px;
                cursor: pointer;
            }
        }
    }
}