@import '../../app.scss';


.wrapper {
    
    


    @include mobile {
        justify-content: flex-end;
        padding: 20px;
    }

    span {
        font-weight: bold;
        font-size: 30px;
        padding-left: 90px;

        @include mobile {
            display: none;
        }
    }
    .social{
        padding-right: 100px;
        display: flex;
        gap: 20px;
        img{
            
            width: 21px;
            height: 21px;
        }
    }
}